/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html{
  overflow-x: hidden;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* RESET FINALIZADO */
body{
  font-family: 'K2D', sans-serif;
}
.box-preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hidden{
  display: none;
  transition: .5seg all;
}

.brown{
  color:rgb(138, 85, 16);
}
.mt2{
  margin-top:2rem;
}
.mt3{
  margin-top:3rem;
}
.container{
  width:70%;
  margin: 0px auto;
}
.cursive{
  font-family: 'Satisfy', cursive;
}
.font-small{
  font-size: 1rem;
}
.font-large{
  font-size: 2rem;
}
.font-xl{
  font-size: 3rem;
}
.disabled{
  color: rgb(98, 98, 98) !important;
  cursor: default !important;
}
.button-large{
  padding:16px 31px;
  border: 1px solid  rgb(138, 85, 16);
  border-radius: 28px;
  transition: .5s all;
  font-weight: bolder;
}
.button-large:hover{
  background: rgb(138, 85, 16);
  transition: .5s all;
  color: white;
}
a{
  text-decoration: none;
  color:white;
}

#coffe-cup{
  width: 300px;
  height: 300px;
  background-color: transparent;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f7/Cup-o-coffee-simple.svg);
  background-image: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0%;
  bottom: 0%;
  margin:0;
  z-index: -1;
}
#header{
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(../images/beans-black-coffee-caffeine-894695.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom:5rem; 
  z-index: 3;
}
#gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(black,transparent);
  z-index: -1;
}
#navbar{
  z-index: 3;
  height: auto;
  line-height: 80px;
  /* background: rgba(255, 255, 255, 0.6); */
  display: flex;
  width: 100%;
  transition: .6s all;
}
#navbarSuple{
  z-index: 3;
  height: 80px;
  /* background: rgba(255, 255, 255, 0.6); */
  width: 100%;
  transition: .6s all;
  display: none;
}
#navbar .container ul{
    float: right;
    display: flex;
    transition: .5s all;
}
#navbar .container ul li{
  font-size: 12px;
}
#navbar .container ul li a:hover{
  color: rgb(138, 85, 16);
  transition: .5s all;
}
#button-menu{
  display: none;
  animation: roll 2s;
  font-size: 1.5em;
}
@keyframes roll {
  0%{
    opacity: 0;
    transform: rotateZ(180deg) translateX(-30%);
  }
}
#navbar .container ul li{
  margin-left:15px; 
}
#navbar .container {
  display: flex;
  justify-content: space-between;
}
#info-header{
  /* position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-100%,-100%); */
  margin-top: 10em;
  padding: 1em;
  width: 70%;
  color: white;
  height: auto;
  font-weight: 100;
}
#info-header h3{
  margin:20px 0px 40px 0px;
  font-size: 3em;
  text-shadow: 4px 2px 2px rgba(12, 12, 12, 0.92);
}
#info-header p{
  font-size: 2em;
  font-weight: bolder;
}

#mobile-menu{
  display: none;
  width: 40%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 2rem 1rem;
  background: rgba(0,0,0,.8);
  transition: .3s all;
}
.ocult{
  transform: translateX(-100%);
  transition: .3s all;
}
#mobile-menu ul{
  margin-top: 15px;
}
#mobile-menu li{
  padding: 5px 0px;
}
@media screen and (max-width:1080px){
  #coffe-cup{
    margin: -5rem 5rem 10rem 0px;
  }
  
}
@media screen and (max-width:900px){
  
  #navbar .container ul{
    display: none;
    transition: .5s all;
  }
  #button-menu,#mobile-menu{
    display: block;
    
  }
  
  
  
}
@media screen and (max-width:720px){
  #mobile-menu{ width: 50%;}
  #coffe-cup{
    margin: 0;
  }
  
  #info-header{
    /* position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-100%,-100%); */
    margin-top: 5em;
    padding: .5em;
    width: 90%;
    color: white;
    height: auto;
    font-weight: 100;
  }
  #info-header h3{
    margin:20px 0px 40px 0px;
    font-size: 2em;
  }
  #info-header p{
    font-size: 1.2em;
    font-weight: bolder;
  }
  
}
@media screen and (max-width:400px){
  #coffe-cup{
    margin: 0px -6em 3em 0;
  }
  
  #info-header{
    /* position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-100%,-100%); */
    margin-top: 5em;
    padding: .5em;
    width: 90%;
    color: white;
    height: auto;
    font-weight: 100;
  }
  #info-header h3{
    margin:20px 0px 40px 0px;
    font-size: 1.5em;
  }
  #info-header p{
    font-size: 1em;
    font-weight: bolder;
  }
  #mobile-menu{
    transition: .2s all;
  }
}
/* HEADER  */
/* MAIN */
    /*BLOCKA*/
#blockA {
  margin-top: 5rem;
  padding: 2rem 0px;
  min-height: 600px;
}
#blockA .container .content-info{
  margin: 2rem 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#blockA h2{
  width: 100%;
  
  font-size: 3rem;
  margin: 1rem 0px;
}
.video{
  width: 480px;
  height: 320px;
  margin-top: 1em;
  overflow: hidden;
  border-radius: 14px;
}
.video video{
 width: 100%;
 border-radius: 14px;
}
.content-blockA{
  width: 40%;
  padding: 1rem;
  box-sizing: border-box;
}
.content-blockA h3{
  font-size: 0.9rem;
}
.content-blockA h2{
  font-size: 1.6rem;
  font-weight: bolder;
}
.content-blockA p{
  font-size: 1.3rem;
  font-weight: 100;
  color: dimgray;
}


@media screen and (max-width:1200px){
  #blockA h2{
    font-size: 2.5rem;
    margin: .5rem 0px;
  }
  .content-blockA{
    width: 45%;
    padding: .5rem;
  }
  .video{
    margin-top:.4rem; 
    width: 360px;
    height: 240px;
  }
}
@media screen and (max-width:950px){
  #blockA h2{
    font-size: 2rem;
    margin: .5rem 0px;
  }
  .content-blockA{
    width: 100%;
    padding: .2rem;
  }
  .video{
    margin-top:.4rem; 
    width: 360px;
    height: 240px;
  }
}

#blockB{
  width: 100%;
  min-height: 600px;
  /* background: url(../images/art-beverage-black-982612.jpg);  */
  /* box-shadow: inset 0px 17px 27px -8px rgba(255,255,255,0.99),
              inset 0px -17px 27px -8px rgba(255,255,255,0.99); */
  /* filter: grayscale(30%); */
  background: rgb(228, 228, 228);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  margin-bottom: 1rem;
}
#blockB .container{
  display: flex;
  flex-wrap: wrap;
}
#blockB h2, #blockB p{
  width: 100%;
  text-align: center;
}
#blockB h2{
  margin-top: 3rem;
  font-size: 2.5rem;
  color: black;
}
#blockB p{
  color:gray;
  font-size: 1.2rem;
}
.box-cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}
.card{
  width: 25%;
  min-height: 100px;
  padding: 3rem 2rem;
  border-radius: 3px;
  box-shadow: 21px 23px 10px -13px rgba(138, 85, 16,0.2);
  margin: 20px 0px;
  background: white;
  display: flex;
  flex-wrap: wrap;
}
.card .title{
  width:50%;
  font-size: 1.2rem;
}
.card .price{
  text-align: right;
  width:50%;
  font-size: 1.2rem;
  color: rgb(138, 85, 16);
}
.card .card-image{
  width: 95%;
  max-height: 180px;
  overflow: hidden;
  margin: 15px auto;

}
.card .card-image img{
  width: 100%;
}
.card .card-desc{
  font-size: .7rem;
  color: rgb(0, 0, 0);
}

@media screen and (max-width:1200px){
  #blockB  h2{
    font-size: 2rem;
  }
  #blockB p{
    font-size: 1.2rem;
  }
  .box-cards{
    justify-content: space-around;
  }
  .card {
    width: 35%;
  }
  .card-image{
    margin: 5px 0px;
  }
  .card-desc{
    font-size: .5rem;
  }
}
@media screen and (max-width:720px){
  #blockB  h2{
    font-size: 1.5rem;
  }#blockB p{
    font-size: .9rem;
  }
  .card {
    width: 80%;
  }
  .card-image{
    margin: 3px 0px;
  }
  .card-desc{
    font-size: .2rem;
  }
}
@media screen and (max-width:400px){
  .title{
    font-size: .5rem;
    
  }
  .price{
    font-size: .7rem;
  }
  .card{
    padding: 1rem;
  }
}


#blockC{
  padding: 3rem 1rem;
  min-height: 400px;
}
#gallery-title{
  font-size: 2rem;
  color: black;
  text-align: center;
}
#gallery-desc{
  font-size: 1.3rem;
  color: gray;
  text-align: center;
}
#gallery{
  margin-top: 3rem;
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill,minmax(250px, 2fr));
  grid-auto-rows: 250px 150px;
  grid-auto-flow: dense;
}
.gallery-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s all;
  filter: brightness(60%);
}
.gallery-img img:hover{
  transform: scale(1.1);
  transition: .3s all;
  filter: brightness(100%)
}
.gallery-img{
  cursor: pointer;
  overflow: hidden;
}

@media (min-width: 480px){
 
  .gallery-img:first-child{
    grid-area: 1/1/span 2/span 2;
  }
  .gallery-img:nth-child(3){
    grid-column:span 2;
  }
}

@media (max-width: 480px){
 
  #blockC{
    padding:2rem 0px;
  }
  #blockC .container{
    width: 90%;
    
  }
}

#modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999;
}
#exit-modal,#left-img,#right-img{
  font-size: 3rem;
  color: white;
  padding: 1rem;
  z-index: 999;
  cursor: pointer;
}
#exit-modal{
  position: absolute;
  top: 10px;
  right: 10px;
}
#left-img{
  position: absolute;
  top: 50%;
  left: 10px;
}
#right-img{
  position: absolute;
  top: 50%;
  right: 10px;
}
.modal-img{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  max-width: 600px;
  height: auto;
  transform: translate(-50%,-50%);
}
.modal-img img{
  width: 100%;
}

#blockD{
  width: 100%;
  min-height: 600px;
  background: rgb(202, 125, 25);
  color: black;
  padding: 2rem 0rem;
}
#blockD .container{
  
}
#blockD .container h2,#blockD .container p{
  text-align: center;
  
}
#blockD .container .title{
  font-size: 2rem;
}
#blockD .container .sub-title{
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
.reviews{
  display: flex;
  flex-wrap: wrap;
}
.review{
  width: 50%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.review-desc{
  padding: 1rem;
  text-align: left;
}
.review h2{
  width: 50%;
  padding: 1rem ;
  box-sizing: border-box;
}
.review .stars{
  width: 50%;
}
.stars ul {
  display:flex;
}
.stars ul li {
  margin-top: 15px;
}
.stars-list li i{
  color:whitesmoke;
}
.star-light{
  color: yellow !important;
}
.points{
  width: 100%;
  margin-top: 3rem;
}
#points-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#points-list li h3{
  font-size: 1.2rem;
}
#points-list li p{
  font-size: 2.5rem;
  font-weight: lighter;
}

@media screen and (max-width:1200px){
  #points-list li h3{
    font-size: .9rem;
  }
  #points-list li p{
    font-size: 2rem;
  }
}
@media screen and (max-width:900px){
  #points-list li {
    width: 50%;
    text-align: center;
    margin: 1rem 0px;
  }
  .review{
    width: 90%;
    margin: 10px auto;
    margin-bottom: 3rem;
  }
  .review h2{
    width: 70%;
  }
  .review .stars{
    width: 30%;
  }
  .review-desc{
    font-size: .9rem;
  }

}
@media screen and (max-width:400px){
  #blockD {
    padding: 1rem .5rem;
  }
  #blockD .container{
    width: 100%;
  }
  #points-list li{
    width: 100%;
  }
}

footer{
  width: 100%;
  min-height: 500px;
  background: url(../images/beans-black-coffee-caffeine-894695.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: 2;
}
.gradient-bg-footer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent,black,black);
  z-index: -3;
}
footer .container{
  z-index: 4;
  color: white;
  font-size: 1.2rem;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10rem 0px;
  box-sizing: border-box;
}
.about-us{
  width: 40%;
  line-height: 1.5rem;
}
.title-footer{
  font-size: 1.6rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.contact-us{
  width: 25%;
}
.follow-us{
  width: 25%;
}
.social-list{
  display: flex;
  justify-content: space-around;
}
.social-list li {
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(138, 85, 16);
  transition: .3s all;
}
.social-list li:hover {
  color: white;
  transition: .3s all;
}
.contact-us form input{
  border-color: black black black black;
  border-style: solid;
  padding: .4rem;
}
.contact-us form i{
  padding: 6px;
  padding-top: 3px;
  background: black;
  margin-bottom: -10px;
  border-color: black black black transparent;
  border-width: 5px;
}
@media screen and (max-width:900px){
  footer .container{
    font-size: .9rem;
  }
  .title-footer{
    font-size: 1.2rem;
   
  }
  .about-us{
    width: 50%;
  }
  .contact-us {
    width: 50%;
  }
  .follow-us{
    width: 100%;
    margin-top: 3rem;
  }
}
@media screen and (max-width:720px){
  footer .container{
    font-size: .9rem;
  }
  .title-footer{
    font-size: 1.2rem;
   
  }
  .about-us{
    width: 100%;
    margin-top: 3rem;
  }
  .contact-us {
    width: 100%;
    margin-top: 3rem;
  }
  .follow-us{
    width: 100%;
    margin-top: 3rem;
  }
}